@model WebApplication1.Models.MessagePayload

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">This is a test to deploy ASP.NET Core web app in GBP kubernetes cluster version 3</a>.</p>
        <p>@ViewData["Message"]</p>*@

    <form method="post">

        <p>@ViewData["ApiMessage"]</p>

        <div style="display: flex; margin-bottom: 20px;
">
            <span style="margin-right: 10px;" >Select Type    :  </span>

            @Html.DropDownList("Type", new List<SelectListItem>
            {
                new SelectListItem{ Text="Order", Value = "Order" },
                new SelectListItem{ Text="Options", Value = "Options" }
             })
        </div>

        <div style="display: flex; margin-bottom: 20px;">
            <br />
            <input style="margin: 10px;" type="radio" asp-for="BuySell" value="Buy" />Buy<br />
            <input style="margin: 10px;" type="radio" asp-for="BuySell" value="Sell" />Sell<br />
        </div>

        <br />

        <div style="display: flex; margin-bottom: 20px;">
            <label style="margin-right: 100px;" asp-for="Isin"></label>
            <input style="width: 200px;" asp-for="Isin" class="form-control" />
        </div>

        <div style="display: flex; margin-bottom: 20px;">
            <label style="margin-right: 30px;" asp-for="Counterparty"></label>
            <input style="width: 200px;" asp-for="Counterparty" class="form-control" />
        </div>

        <br />
        <div style="display: flex;">
            <button asp-route="Custom">Publish to Pub Sub</button>
        </div>

        <div>
            <br />
            <p>@ViewData["Message"]</p>
        </div>
    </form>
</div>
