@model WebApplication1.Models.MessagePayload

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">This is a test to deploy ASP.NET Core web app in GBP kubernetes cluster version 3</a>.</p>
    <p>@ViewData["Message"]</p>

    <form method="post">

        <div>
            <span>Select Type:   </span>

            @Html.DropDownList("Type", new List<SelectListItem>
            {
                new SelectListItem{ Text="Order", Value = "Order" },
                new SelectListItem{ Text="Options", Value = "Options" }
             })
        </div>
        <br />
        <div>
            <button asp-route="Custom">Create message for Pub Sub</button>
        </div>
        <br />
        <input asp-for="Message" class="form-control" />
    </form>
</div>
